
<div class="relative width height-600">

	<div class="relative width height-600" id="carouselFrame">

		<div class="absolute height black-back cutoff" id="carouselContainer">

			<div class="absolute height imageContainer" *ngFor="let img of images; let i = index" id="{{'img' + i}}">

				<div class="absolute width height center">

					<img class="absolute width-auto height hcenter" src="{{'/assets/images/' + img}}" />

				</div>
			</div>

		</div>


	</div>

	<!-- <div class="relative width-200 height-50 margin-v-50 hcenter border-white">

		<div class="absolute center font-20 white">
			stop
		</div>
	</div> -->

</div>