

<div class="container" id="dateBox">

	<div class="inner">

		<div class="title">
			<div class="relative vcenter">
				Events
			</div>
		</div>

		<div class="date" *ngFor="let date of dates">
			
			<div class="dateInner">

				<div class="talent">
					<div class="absolute vcenter">
						{{date.talent}}
					</div>
				</div>

				<div class="infoContainer">

					<div class="relative width">
						<div class="venue">
							<div class="absolute vcenter">
								{{date.venue}}
							</div>
						</div>

						<div class="date-time">
							<div class="absolute vcenter">
								{{date.date}}
							</div>
						</div>

					</div>

					<div class="tickets">

						<p class="relative height"> tickets: <a class="relative height" href="{{date.tickets.link + date.tickets.text}}"> {{date.tickets.text}} </a></p>

					</div>

				</div>

			</div>

		</div>

	</div>

</div>
