

.container {

	position:relative;
	width:60%;
	left:50%;
	transform:translate(-50%, 0);
	border:1px solid white;
	border-radius:40px;
	margin-bottom:400px;
	color:white;

}

.inner {

	position:relative;
	width:90%;
	left:50%;
	transform:translate(-50%, 0);
}


.title {

	position:relative;
	width:100%;
	font-size:2.5em;
	margin:50px 0;
}

.date {

	position:relative;
	width:100%;
	border-left:1px solid white;
	margin:100px 0;
	font-size:1.5em;
}

.dateInner {

	position:relative;
	width:80%;
	left:50%;
	transform:translate(-50%, 0);
}

.talent {

	position:relative;
	width:100%;
	height:50px;
	margin:20px 0;
}

.infoContainer {

	position:relative;
	width:100%;
	margin-left:50px;
}

.place {

	position:relative;
	width:100%;
	height:50px;
}


.venue {

	position:absolute;
	width:70%;
	height:50px;
	top:50%;
	transform:translate(0, -50%);
	-webkit-transform: translate(0, -50%);
}

.venueInner {

	position:absolute;
	top:50%;
	transform:translate(0, -50%);
}

.date-time {

	position:absolute;
	width:30%;
	height:50px;
	top:50%;
	transform:translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	text-align: right;
	right:0;
}

.dateTimeInner {

	position:absolute;
	top:50%;
	transform:translate(0, -50%);
}

.tickets {

	position:relative;
	width:100%;
	height:50px;
	margin:20px 0;

}






@media screen and (max-width: 700px) {




	.container {

		width:90%;
	}


	.title {

		font-size:2em;
	}

	.date {

		font-size:1em;
	}

	.infoContainer {
		margin-left:0;
	}

	.place {

		height:100px;
	}

	.venue {

		position:relative;
		width:100%;
		top:0;
		transform:translate(0, 0);
		-webkit-transform: translate(0, 0);
	}

	.venueInner {

		position:relative;
	}

	.date-time {

		position:relative;
		width:100%;
		text-align:left;
		top:0;
		transform:translate(0, 0);
		-webkit-transform: translate(0, 0);
	}

	.dateTimeInner {

		position:relative;
	}

	.tickets {

		font-size:15px;
		margin:0;

	}



}





